body {
@font-face {
  font-family: 'LINESeedJP';
  src: url('https://hirotokunn.github.io/hiselo/LINESeedJP_OTF_Rg.woff')
  }
  
  background: #003333;
  color: white;
  text-align: center;
}

.deka {
    display: block; 
    margin: 0 auto; 
    position: relative; 
    animation: uho 2s ease; 
}
 
@keyframes uho {
    0% {
        opacity: 0; 
        top: 50px; /* 位置指定 */
        size: 100px;
    }
    100% {
        opacity: 1; /* 透明度指定 */
        top: 0; /* 位置指定 */
        size: 200px;
    }
